@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Rubik Moonrocks', cursive;
    color: black;
    padding-bottom: 50px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    transition: all 0.3s ease-in-out;
}
.nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
}
.nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.nav a{
    text-decoration: none;
    color: aliceblue;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
}
.nav.active{
    background-color: aliceblue;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}
.nav .active a{
    color: aqua;
}
.nav .active.container{
    padding: 10px 0;
}
.nav a.current, .nav a:hover{
    color: brown;
    font-weight: bold;
}
.hero{
    background-image: url("https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    height: 100vh;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
}
.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: -3;
}
.hero h2{
    margin: -20px 0 20px;
    font-size: 100px;
}
.hero p{
    font-size: 20px;
    letter-spacing: 1px;
}
.content h2,.content h3{
    font-size: 150%;
    margin: 20px 0;
}
.content p{
    color: brown;
    line-height: 30px;
    letter-spacing: 1.2px;
}
.hero.container h2{
    font-size: 60px;
}
/* .logo{
    display: flex;
    justify-content: start;
    align-items: flex-start;
} */
.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    border: 2px solid red;
    margin: 5px 10px;
    padding: 4px 5px;
    height: 330px;
    width: 500px;
    border-radius: 20px;
    /* text-align: center; */
}
.box h3{
    text-align: center;
}
.box p{
    justify-content: center;
}
.services{
    text-align: center;
    font-family: 'Rubik Moonrocks', cursive;
    font-weight: bold;
    font-size: 35px;
}
.services h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik Moonrocks', cursive;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.contact-text{
    text-align: center;
    font-family: 'Rubik Moonrocks', cursive;
    font-weight: bold;
    font-size: 35px;
    padding: 20px;
    margin-top: 50px;
}
.form-content{
    margin: 12px 13px;
    /* border: 2px double black; */
    /* display: flex;
    justify-content: end;
    align-items: flex-end;
    flex-direction: column; */
}
.input-text{
    margin: 12px 10px;
    padding: 10px 12px;
    margin: 0 auto;
    font-size: 30px;
}
.size{
    font-size: 20px;
    border-radius: 6px;
}
.btn-submit{
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background-color: black;
    color: aliceblue;
    margin: 3px 14px;
    padding: 5px 10px;
    border-radius: 12px;
}
.btn-submit:hover{
    background-color: burlywood;
    color: black;
}
.img-card{
    margin-top: -450px;
    float: right;  
    margin-right: 30px;
    
}
.products{
    text-align: center;
    font-family: 'Rubik Moonrocks', cursive;
    font-weight: bold;
    font-size: 35px;
}
.products h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik Moonrocks', cursive;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.about-us{
    text-align: center;
    font-family: 'Rubik Moonrocks', cursive;
    font-weight: bold;
    font-size: 35px;
}
.about-us h3{
    margin: 15px 15px;
}
div .contact-image{
    float: right;
    margin-right: 20px;
    padding: 10px;
}
 .image {
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red;
    border-width: 12px;
    border */
    /* height: 400px;
    width: 400px; */
    
}
.image .imagee{
     height: 400px;
    width: 400px; 
    
}